/* Global styles */
* {
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

QWidget {
    background-color: #F5DEB3; /* Light tan */
    color: black;
}

QPushButton {
    background-color: #666666;
    color: white;
    border: none;
    padding: 5px 10px;
}

QListView {
    background-color: #F5DEB3;
    color: black;
}

QLineEdit {
    background-color: #555555;
    color: white;
    padding: 5px;
}

QMenuBar {
    background-color: #222222;
    color: white;
}
